<nz-list *ngIf="!loading" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
      <nz-comment-content>
        <p>{{ item.content }}</p>
      </nz-comment-content>
    </nz-comment>
  </ng-template>
</nz-list>

<div *ngFor="let item of items">
  <nz-skeleton [nzLoading]="loading" [nzActive]="true" [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
</div>
<nz-comment *ngIf="!loading">
<nz-comment-content>
  <nz-form-item>
    <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
  </nz-form-item>
  <nz-form-item>
    <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
      Add Comment
    </button>
  </nz-form-item>
</nz-comment-content>
</nz-comment> 