<a [routerLink]="['/login']" routerLinkActive="active">Inicio de Sesión</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/home']" routerLinkActive="active">Inicio</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/feed']" routerLinkActive="active">Noticias</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/data']" routerLinkActive="active">Datos</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/onpush']" routerLinkActive="active">Detección de Cambios</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/lazy-images']" routerLinkActive="active">Galeria de Imágenes</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/data-cache']" routerLinkActive="active">Caché de datos</a>
