<a [routerLink]="['/login']" routerLinkActive="active">Login</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/feed']" routerLinkActive="active">feed</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/home']" routerLinkActive="active">home</a>
<!-- <span style="margin-left: 1rem"></span>
<a [routerLink]="['/calendar']" routerLinkActive="active">calendar</a> -->
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/data']" routerLinkActive="active">Data</a>
<span style="margin-left: 1rem"></span>
<a [routerLink]="['/onpush']" routerLinkActive="active">ONPUsh</a>