<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <div nz-col nzSpan="6">
    <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" >
  </div>
  <div nz-col nzSpan="6">
    <img src="https://angular.io/assets/images/logos/angular/logo-nav@2x.png" >
  </div>
</div>
<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
  <div nz-col nzSpan="8">
    <div class="box-height">
      <img class="h100" src="https://angular.io/assets/images/logos/angular/angular.svg" > 
    </div>
  </div>
  <div nz-col nzSpan="8">
      <div class="box-height">
          <img class="h100" src="https://angular.io/assets/images/logos/angular/angular.svg" > 
        </div>
  </div>
  <div nz-col nzSpan="8">
      <div class="box-height">
          <img class="h100" src="https://angular.io/assets/images/logos/angular/angular.svg" > 
        </div>
  </div>
</div>
<div nz-row nzType="flex" nzJustify="center" >
  <div nz-col nzSpan="6" class="ver-mas"> Ver más</div>
</div>
