.h100{
    height: 100%;
}

.box-height{
    height: 400px;
    display: flex;
    justify-content: center;
}

.ver-mas{
    text-align: center;
    background: black;
    color: white;
    margin-top: 2rem;
}